<h1>Listing categories</h1>

<div class="grid grid-categories">
  <table class="grid-container scroll"></table>
  <div class="grid-pager scroll"></div>
</div>

<br />

<div class="grid grid-products">
  <table class="grid-container scroll"></table>
  <div class="grid-pager scroll"></div>
</div>

<br />

<%= link_to 'New category', new_category_path %>